fieldset{
	letter-spacing: 10px;
	border: 4px solid green;
	border-radius: 90px;
	padding: 1px;
}

.fieldset-1{
	width: 40%;
	margin-top: 100px;
	border: 4px solid green;
	border-radius: 40px;
	padding: 1px;
}

.fieldset-2{
	letter-spacing: 1px;
	color: white;
	border-radius: 0px;
	background: green;
}

.button-1{
	width: 4%;
	margin-left: 87%;
	padding: 7px 20px;
	box-sizing: border-box;
	background: green;
	border: 3px solid green;
	border-radius:0px;
	color: white;
	font-size: 15px;
	display: inline-block;
	cursor: pointer
}

.button-3{
	width: 4%;
	margin-left: 83%;
	padding: 7px 20px;
	box-sizing: border-box;
	background: red;
	border: 3px solid green;
	border-radius:0px;
	color: white;
	font-size: 15px;
	display: inline-block;
	cursor: pointer
}

.button-2{
	width: 4%;
	margin-left: 0%;
	padding: 7px 20px;
	box-sizing: border-box;
	background: green;
	border: 3px solid green;
	border-radius:0px;
	color: white;
	font-size: 15px;
	display: inline-block;
	cursor: pointer
}

input[type = text]{
	width: 50%;
	padding: 7px 20px;
	margin: 10px 0;
	box-sizing: border-box;
	border-radius: 30px;
	background: white;
	font-size: 15px;
	border: 3px solid green;
}

input[type = password]{
	width: 50%;
	padding: 7px 20px;
	margin: 10px 0;
	box-sizing: border-box;
	border-radius: 30px;
	background: white;
	font-size: 15px;
	border: 3px solid green;
}

button{
	width: 50%;
	padding: 7px 20px;
	box-sizing: border-box;
	background: white;
	border: 3px solid green;
	border-radius: 30px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	color: green;
	font-size: 15px;
	display: inline-block;
	cursor: pointer
}

img{
	margin-top: 190px;
	border: 4px solid green;
	border-radius: 40px;
	box-sizing: 1px 1px;
}